body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.container{
    display: flex;
    justify-content: center;
    border:2px solid black;
    padding: 30px;
    margin: 10px;
}
.box{
    padding: 25px 70px;
    background-color: whitesmoke;
    border: 2px solid rgb(51, 140, 243);
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0px 5px 9px;
}
.round{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 155, 227);
    border: 2px solid rgb(39, 155, 227) ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 22px;
}
.card{
    margin-left: 15px;
}